# For QC branch, L1 lead is the code owner
/qc/ @L1_Ava-JeevaYovanE

# For dev branch, L2 lead is the code owner
/dev/ @L2_Srihariharan

# For production branch, L3 lead is the code owner
/prod/ @L3_jasperalwin
